*{
    padding:0;
    margin:0;
    font-family: sans-serif;
    text-decoration: none;
}

:root{
    --background:rgba(218, 218, 218, 0.986);
    --container-background:white;
    --border-color:rgb(170, 168, 168);
    --search-background:rgb(220, 226, 240);
    --profile-background:rgba(130, 197, 236, 0.5);
    --lower-font-color:grey;
    --count-color:blue;
}
body{
    background-color:var(--background);
}
/* Main header flex box */
.header-container{
    padding:0.9rem 9rem 0.5rem 9rem;
    margin:0 auto;
    background-color: var(--container-background);
    width:80%;
    height:3rem;
    display:flex;
    justify-content: space-between;
    list-style: none;
}
/* Child of header flex box */
/* Child flex box -1 */
.header-container > .group-items1{
    width:25rem;
    position: relative;
    right:7%;
    display:flex;
    justify-content:space-between;
    align-self: flex-end;

}
/* Child of header flex box */
/* Child flex box -2 */
.header-container > .group-items2{
    width:37rem;
    display: flex;
    justify-content:space-between;
    align-self: flex-end;
}
.group-items2>li:hover{
    border-bottom:0.5px solid black;
    box-shadow: 0px 1.5px;
}
.group-items2>li:nth-child(6):hover{
    box-shadow:none;
    border-bottom:none;
}
/* Nav-profile section */
.flex-items.nav-profile{
    border-left:2px solid var(--border-color);
    padding-left:1.5rem;
}
/* Nav-icons style*/
.flex-items{
    cursor: pointer;
}
.flex-items >svg{
    color:grey;
    margin-left:0.49rem;
}
.flex-items:nth-child(2) > svg{
    margin-left:1.1rem;
    
}
.flex-items:nth-child(4) > svg{
    margin-left:1.4rem;
}
.flex-items:nth-child(5) > svg{
    margin-left:1.6rem;
}

.flex-items > .image-desc{
    font-size: 0.8rem;
    color:grey;
    font-weight: 500;
}
#profile-batchicon{
    color:grey;
}
/* Nav logo style */
#logo-icon{
    display: block;
    margin:0 1rem;
    height:2.3rem;
    border-radius:0.5rem;
}

/* Search form */
#search{
    height:2.5rem;
}

#search > input{
    padding:0.66rem 2rem;
    width: 18rem;
    z-index: -1;
    background-color: var(--search-background);
    border:none;
    /* Transition for width of the input */
    transition-property:width;
    transition-delay: 0.1ms;
    transition-duration: 0.5s;
}
#search > input:focus{
    width:24rem;
}

#search> #search-icon{
    position:relative;
    bottom:1.75rem;
    right:-3%;
    z-index: +1;
    width:1.5rem;
    height:1.5rem;
}

/* Main-content flex box  style*/
.main-container{
    margin:2rem auto;
    width:90%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center; 
}
.main-container > .left-container{
    width:16rem;
    align-self: flex-start;    
}
.main-container > .middle-container{
    width:40rem;
    align-self:flex-start;
}

.main-container > .right-container{
    width:19rem;
    align-self: flex-start;
}

.box-style{
    border-radius: 0.5rem;
}

/*Style for individual childs of left containers*/
.left-container > .left-child1{
    background-color: var(--container-background);
    height:23.42rem;
    border: 0.6px solid var(--border-color);
    margin-bottom:1rem;
}
.left-container > .left-child2{
    background-color: var(--container-background);
    height:25rem;
    border: 0.6px solid var(--border-color);
}
.left-child2 .secondleft-card{
    padding-left:1rem;
}
.left-child2 .para-margin:hover{
    background-color: var(--background);
}
/* Style for Profile card section */
#background-image{
    width:100%;
    height:5rem;
    background-color:var(--profile-background);
    margin-bottom:3rem;
    padding:0;
}
#profile-pic{
    width:5rem;
    height: 5rem;
    border-radius: 50%;
    position: relative;
    left:33%;
    top:50%;
}
.left-child1 > #header{
    text-align: center;
    font-weight: 520;
}
.left-child1 > #header:hover{
    text-decoration: underline;
    cursor:pointer;
}
.left-child1 > .lower-title{
    text-align: center;
    margin-top: 0.5rem;
    color:var(--lower-font-color);
    font-size: 0.88rem;
}
.sub-heading{
    color:var(--lower-font-color);
    font-size: 0.8rem;
}
.count-specs{
    color:var(--count-color);
    font-weight: 500;
    font-size:0.9rem;
    float:right;
}
.left-child1> .box{
    border-bottom: 2px solid var(--border-color);
}
.left-cardcontent{
    padding:0.5rem 1rem;
}
#last-boxcard{
    border:none;
}
.hover-box:hover{ 
    background-color: var(--background);
}
#bold-info{
    font-weight: 700;
    font-size: 0.7rem;
}
/*Style for Trends,Recent,Hashtags*/
.left-child2 > .header-margin{
    margin:1rem 0;
}

.left-child2 > .para-margin{
    margin:0.5rem 0;
}

.left-child2 > .blue-header{
    color:var(--count-color);
}

/* Middle container Create post section style */
#profile-pic-min{
    height:3rem;
    width:3rem;
    border-radius: 50%;
}
.middle-container > div{
    padding:0.6rem;
    background-color: var(--container-background);
    margin-bottom:1.2rem;
}
#post-comments{
    position:relative;
    bottom:1.4rem;
    left:3%;
    width:30rem;
    height:2.5rem;
    padding:0 1rem;
    border-radius:2rem;
   }
#post-comments:hover{
    background-color: var(--background);
}
/* Container containing upload icons */
.postcontent > .container{
    display: flex;
    justify-content: space-around;
}
/* Maintain Icon size */
.small-container{
    padding:0.5rem;
}
.small-container > img{
    width:2rem;
    height:2rem;
}
.small-container > .text-desc{
    font-size: 0.85rem;
    color:var(--lower-font-color);
    position:relative;
    bottom:0.8rem;
}
.small-container:hover{
    background-color: var(--background);
}
/* Second and third post style properties */
.postdesc{
    display: flex;
     margin-bottom: 0.3rem; 
}
.postdesc > div{
    margin:0 0.6rem;
}
.postdesc > div> .post-header{
    margin-bottom: 0.33rem;
}
.postlogo{
    height:4rem;
    width:4rem;
    margin-bottom: 0.5rem;
}
.post-header{
    font-weight: 700;   
}
.lower-title{
    color:var(--lower-font-color);
    font-size: 0.9rem;
}
.post-media{
    width:100%;
}
.reaction{
    margin:1rem 0;
    display:flex;
    justify-content: space-between;
}
.action{
    border-top:2px solid var(--border-color);
    padding:0.3rem 0;
    display:flex;
    justify-content: space-around;
}
.action div{
    padding:0.4rem;
}
.action > div:hover{
    background-color: var(--background);
}
/* Style for right container posts */
.right-container > div{
    padding:1rem 0;
    margin-bottom:1.2rem;
    background-color: var(--container-background);
}
.pad-left{
    padding:0 1rem;
}

.news-feed{
    margin:1rem 0;
}
.news-feed > div{
    padding: 0.2rem 1rem;
    margin-bottom:0.5rem;
}
.news-feed > div:hover{
    background-color: var(--background);
}
.news-feed p{
    margin-bottom:0.4rem;
}
.shead-pad{
    margin-left: 1rem;
}

/* Right container Follow tab */
.right-child3 >p{
    margin-bottom: 1rem;
}
.followers{
    display: flex;
    margin-bottom:1rem;
    border-bottom: 2px solid var(--border-color);
    padding-bottom:1.5rem;
}
.followers:nth-child(4){
    border-bottom:none;
}
.followers div{
    padding-left:0.5rem;
}
.followers div p:nth-child(n){
    margin-bottom: 0.3rem;
}
.lnlogo{
    width:4rem;
    height: 3.5rem;
}
.follow-button{
    width: 9.5rem;
    height: 1.5rem;
    font-weight: 600;
    background-color: transparent;
    border-radius: 2rem;
}

/* Reponsiveness */
@media screen and (max-width:1279px) {
    .main-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .main-container > .left-container{
        width:15rem;
        align-self: flex-start;    
    }
    .main-container > .middle-container{
        width:30rem;
        align-self:flex-start;
    }
    
    .main-container > .right-container{
        width:15rem;
        align-self: flex-start;
    }
    #post-comments{
        width:20rem;
    }
    .followers.pad-left{
        display:flex;
        flex-direction:column;
    }
    .postlogo.lnlogo{
        padding-left:0.5rem;
    }
}
@media screen and (max-width:1107px){
    .right-container >.right-child3{
        display:none;
    }
    .main-container > .right-container{
        width:19rem;
        transform:translate(-32rem,80rem);
        display:flex;
        justify-content: space-between;
    }
    .right-container > .right-child1{
        margin-right:3.5rem;
    }
    .right-child1 > .news-feed{
        width:20rem;
    }
    .right-child2 > .news-feed{
        width:20rem;
    }
    .left-container{
        margin-left:10rem;
        margin-right:4rem;
    }
    .left-container > .left-child1{
        width:16rem;
    }
    .left-container > .left-child2{
        width:16rem;
    }
    .middle-container > .middle-child1{
        width:38rem;
    }
    .middle-container > .middle-child2{
        width:38rem;
    }
    .middle-container > .middle-child3{
        width:38rem;
    }
    #post-comments{
        width:30rem;
    }
}

@media screen and (max-width:999px) {
    .main-container{
        width:80%;
    }
    #search{
        display:none;
    }
    .header-container .group-items1{
        width:0;
    }
    .left-container > .left-child1{
        width:13rem;
        height:24rem;
    }
    .para-heading{
        font-size:0.77rem;
    }
    .left-container > .left-child2{
        width:13rem;
        height: 25rem;
        
    }
}

@media screen and (max-width:909px){
    .left-container{
        margin-right:1.5rem;
    }
}
@media screen and (max-width:861px){
    .left-container >.left-child2 {
        display:none;
    }
    .middle-container{
        transform: translateY(13rem);
    }
    .left-container{
        margin-left: 0;
    }
    .left-container > .left-child1{
        height:12rem;
        width:39.5rem; 
        transform: translateX(16rem);
        overflow:scroll;
    }
    #profile-pic{
        left:43%;
    }
    .main-container > .right-container{
        transform:translate(-32rem,94rem);
    }
}
@media screen and (max-width:767px){
    #logo-icon{
        position: relative;
        right:70%;
    }
}
@media screen and (max-width:677px){
    .left-container>.left-child1 {
        margin-left:2rem;
    }
    .middle-container{
        margin-left:2rem;
    }
}
@media screen and (max-width:647px){
    .left-container>.left-child1 {
        margin-left:2rem;
    }
    .middle-container{
        margin-left:2rem;
    }
}
@media screen and (max-width:541px){
    .left-container>.left-child1 {
        margin-left:5rem;
        width:39.5rem;
    }
    .middle-container{
        margin-left:5rem;
        width:15rem;
    }
    #logo-icon{
        position: relative;
        right:5rem;
    }
    .right-container{
        display:flex;
        justify-content: space-around;
        
    }
    .right-child1 > .news-feed{
        width:15rem;
    }
    .right-child2 > .news-feed{
        width:15rem;
    }
    .main-container > .right-container{
        transform:translate(-27rem,94rem);
    }
}
@media screen and (max-width:435px){
    .left-container>.left-child1 {
        margin-left:8rem;
        width:34rem;
    }
    .middle-container > .middle-child1{
        margin-left:2.5rem;
        width:33em;
    }
    .middle-container > .middle-child2{
        margin-left:2.5rem;
        width:33rem;
    }
    .middle-container > .middle-child3{
        margin-left:2.5rem;
        width:33rem;
    }
    #post-comments{
        width:25rem;
    }
    .header-container> .group-items2 >li{
        margin:0 0.5rem;
    }
}
@media screen and (max-width:335px){
    .left-container>.left-child1 {
        margin-left:10.5rem;
        width:31rem;
    }
    .middle-container > .middle-child1{
        margin-left:5rem;
        width:30em;
    }
    .middle-container > .middle-child2{
        margin-left:5rem;
        width:30rem;
    }
    .middle-container > .middle-child3{
        margin-left:5rem;
        width:30rem;
    }
    #post-comments{
        width:22rem;
    }
    .header-container > .group-items2{
        margin:0;

    }
    .header-container> .group-items2 >li{
        margin:0 0.7rem;
    }
    #logo-icon{
        position: relative;
        right:7rem;
    }
}
